html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 0;
    user-select: none;
}

.background{
    height: 100%;
    width:100%;
    margin: auto;
    padding:0;
    /*background-color: #c6eeff;*/
    position: absolute;
}

.ui-box {
    height: 100%;
    width:100%;
    background: white;
    margin:auto;
    padding:0;
    position:relative;
}
