#profile-box{
    height: 8%;
    width: 40%;
    left: 2.5%;
    top: 3%;
    border-radius: 1vmin;
    border:4px solid #93c2e9;
    box-shadow:1px 1px 1px 1px #6995b7;
    background-color: #93c2e9;
    overflow:hidden;
    position: absolute;
}

#profile-box-inner {
    height: 100%;
    width: 125%;
    top:0;
    left:0;
    position: absolute;
}

#avatar {
    height: 100%;
    width: 12%;
    top: 0;
    left: 2%;
    border-radius: 300px;
    /*background-color: #8a8a8a;*/
    box-shadow:0 0 0 1px #9ba4ac;
    background-size: contain;
    position: absolute;
}

#display-name,#display-name-input {
    height: 64%;
    width: calc(48% - 2.4vmin);
    top: 18%;
    left: 18%;
    padding:0 1.7vmin 0 1.7vmin;
    border-radius: 1vmin;
    font-size:3vmin;
    display: flex;
    align-items: center;
    vertical-align:middle;
    justify-content: center;
    line-height: 100%;
    box-shadow:-1px -1px 0 1px #6f7e86;
    background-color: #c2deee;
    position: absolute;
    user-select: text;
}

#display-name-input{
    background-color: #ecf7fd;
    border:0;
    outline:none;
    display:none;
}

#edit-button,#save-button,#cancel-button{
    height: 50%;
    width: 6%;
    top: 25%;
    left:71%;
    background:url("../img/edit.svg") no-repeat;
    background-size: contain;
    cursor:pointer;
    display:block;
    position: absolute;
}

#save-button{
    background:url("../img/save.svg") no-repeat;
    background-size: contain;
    display: none;
}

#cancel-button{
    left:84%;
    background:url("../img/cancel_edit.svg") no-repeat;
    background-size: contain;
}

#edit-button:hover{
    background:url("../img/edit_hover.svg") no-repeat;
    background-size: contain;
    transform:translateY(-1px);
}

#save-button:hover{
    background:url("../img/save_hover.svg") no-repeat;
    background-size: contain;
    transform:translateY(-1px);
}

#cancel-button:hover{
    background:url("../img/cancel_edit_hover.svg") no-repeat;
    background-size: contain;
    transform:translateY(-1px);
}

#edit-button:active{
    background:url("../img/edit_active.svg") no-repeat;
    background-size: contain;
    transform:translateY(1px);
}

#save-button:active{
    background:url("../img/save_active.svg") no-repeat;
    background-size: contain;
    transform:translateY(1px);
}

#cancel-button:active{
    background:url("../img/cancel_edit_active.svg") no-repeat;
    background-size: contain;
    transform:translateY(1px);
}
